<form class="kt-portlet mb-0 shadow-none" [formGroup]="travelDetailsForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <div matDialogTitle class="kt-portlet__head px-0 pt-0">
        <div class="kt-portlet__head-label">
            <h1 class="kt-portlet__head-title">
                Travel Details Form
            </h1>
        </div>

        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group">
                <button (click)="cancel()" type="button" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i
                        class="la la-close"></i></button>
            </div>
        </div>
    </div>

    <div class="row" matDialogContent>
        <div class="col-12">
            <div [@fadeIn]="responseMessage || errors?.length>0" id="res-messages">
                <div class="alert mb-0" role="alert" [ngClass]="{'alert-danger':isError, 'alert-success':!isError}"
                    *ngIf="responseMessage || errors?.length>0">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">
                        <span *ngIf="errors?.length > 0; else msgBlock">
                            <span class="row" [@fadeIn]="errors?.length">
                                <div class="col-12 mb-1 m--font-bolder"> {{ responseMessage}} </div>
                                <div class="col-6" *ngFor="let e of  errors"> {{e.message}} </div>
                            </span>
                        </span>
                        <ng-template #msgBlock> {{ responseMessage}} </ng-template>
                    </div>
                    <div class="alert-close">
                        <button type="button" (click)="clearErrors()" class="close" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" class="row pb-2 mb-4 pt-2" style="background: #fafafa;">
            <!-- <div class="col-12 h5 kt-font-primary">Travel Details</div> -->
            <div class="col-md-5">
                <mat-form-field appearance="outline">
                    <mat-label>Employee Code</mat-label>
                    <input matInput formControlName="empCode">
                </mat-form-field>
            </div>
            <div class="col-md-7">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter Name" formControlName="name" required>
                    <mat-error class="kt-font-danger" *ngIf="displayMessage?.name">{{displayMessage?.name}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Travel Mode</mat-label>
                    <mat-select formControlName="travelMode">
                        <mat-option value="Mode A">Mode A</mat-option>
                        <mat-option value="Mode B">Mode B</mat-option>
                        <mat-option value="Mode C">Mode C</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field appearance="outline">
                    <mat-label>Place</mat-label>
                    <input matInput formControlName="place" placeholder="Enter Place to go">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Date From</mat-label>
                    <input matInput (click)="date.open()" (focus)="date.open()" [matDatepicker]="date"
                        placeholder="Choose starting date" formControlName="dateFrom">
                    <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Date from</mat-label>
                    <input matInput (click)="dp.open()" (focus)="dp.open()" [matDatepicker]="dp"
                        placeholder="Choose end date" formControlName="dateTo">
                    <mat-datepicker #dp></mat-datepicker>

                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="Active">Active</mat-option>
                        <mat-option value="Inactive">Inactive</mat-option>
                        <mat-option value="Pending">Pending</mat-option>
                        <mat-option value="Rejected">Rejected</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="description"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div matDialogActions>
        <div class="mat-dialog-action">
            <div>
                <button [disabled]="isWorking" type="submit" class="btn btn-label-primary btn-icon btn-circle mx-1"
                    matTooltip="Save Changes" matTooltipPosition="above">
                    <i *ngIf="!isWorking; else working" class="la la-check"></i>
                    <ng-template #working>
                        <mat-spinner color="warn" strokeWidth="2" diameter="24"></mat-spinner>
                    </ng-template>
                </button>
                <button (click)="cancel()" type="button" class="btn btn-label-warning btn-icon btn-circle mx-1"
                    matTooltip="Cancel" matTooltipPosition="above"> <i class="la la-close"></i></button>
            </div>
        </div>
    </div>

</form>