<form class="kt-portlet mb-0 shadow-none" [formGroup]="chalaniForm" (ngSubmit)="saveChanges()" autocomplete="off">
    <div matDialogTitle class="kt-portlet__head px-0">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{data?.id >0 ? 'चलानी फर्म परिवर्तन गर्नुहोस्':'चलानी फर्म भर्नुहोस्'}}
            </h3>
        </div>
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                आर्थिक वर्ष: {{fiscalYear}}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group">
                <button type="button" (click)="cancel()" class="btn btn-sm btn-icon btn-clean btn-icon-md"><i
                        class="la la-close"></i></button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div [@fadeIn]="responseMessage || errors?.length>0" id="res-messages">
                <div class="alert mb-0" role="alert" [ngClass]="{'alert-danger':isError, 'alert-success':!isError}"
                    *ngIf="responseMessage || errors?.length>0">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">
                        <span *ngIf="errors?.length > 0; else msgBlock">
                            <span class="row" [@fadeIn]="errors?.length">
                                <div class="col-12 mb-1 m--font-bolder"> {{ responseMessage}} </div>
                                <div class="col-6" *ngFor="let e of  errors"> {{e.message}} </div>
                            </span>
                        </span>
                        <ng-template #msgBlock> {{ responseMessage}} </ng-template>
                    </div>
                    <div class="alert-close">
                        <button (click)="clearErrors()" type="button" class="close" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-3 mt-4" style="height: 30px !important;">
            <div class="kt-infobox__section">
                <h6 class="kt-infobox__subtitle"><span class="mr-2">पछिल्लो चलानी नंम्बर:</span> 124</h6>
                <div class="kt-infobox__content">
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <mat-form-field appearance="outline">
                <mat-label>चलानी नम्बर</mat-label>
                <input matInput formControlName="invoiceNo" placeholder="चलानी नम्बर राख्नुहोस्" readonly>
            </mat-form-field>
        </div>
        <div class="col-md-7">
            <mat-form-field appearance="outline">
                <mat-label>बिषय</mat-label>
                <input matInput formControlName="subject" placeholder="पत्रको बिषय" required>
                <mat-error *ngIf="displayMessage?.name" class="m--font-danger">{{displayMessage?.subject}}
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-6">
            <!-- <mat-form-field appearance="outline">
                <mat-label>कार्यालय/ईकाई/व्यक्ति वा शाखाको नाम</mat-label>
                <mat-select formControlName="branchIds" [multiple]="true">
                    <mat-select-search [formControl]="filterCtrl"></mat-select-search>
                    <mat-option *ngFor="let b of filteredBranch | async" [value]="b.name">
                        {{b.name}}
                    </mat-option>
                    <mat-option *ngIf="branches.length < 1">No content</mat-option>
                </mat-select>
            </mat-form-field> -->
            <chip-list-auto [masterChips]="branches" [controlName]="chalaniForm.get('branchIds')"
                [inputPlaceolder]="'थप्नुहोस्'" [label]="'पाउने कार्यालय/ईकाई/व्यक्ति वा शाखाको नाम'">
            </chip-list-auto>
        </div>

        <div class="col-md-6">
            <chip-list-auto [masterChips]="letterReceivers" [controlName]="chalaniForm.get('receivers')"
                [inputPlaceolder]="'थप्नुहोस्'" [label]="'बोधार्थ कार्यालय वा व्यक्ति'">
            </chip-list-auto>
        </div>
        <div class="col-md-4">
            <!-- <mat-form-field appearance="outline">
                <mat-label>पत्रको किसिम</mat-label>
                <mat-select formControlName="LetterKindId" [multiple]="true">
                    <mat-option *ngFor="let t of LetterKinds" [value]="t.value">{{t.value}}</mat-option>
                    <mat-option *ngIf="LetterKinds.length < 1">No content</mat-option>
                </mat-select>
            </mat-form-field> -->

            <chip-list-auto [masterChips]="LetterKinds" [controlName]="chalaniForm.get('letterKindId')"
                [inputPlaceolder]="'थप्नुहोस्'" [label]="'पत्रको किसिम'">
            </chip-list-auto>
        </div>

        <div class="col-md-8">
            <mat-form-field appearance="outline">
                <mat-label>ठेगाना</mat-label>
                <input matInput formControlName="officeAddress" placeholder="पत्र पाउने कार्यालयको ठेगाना" required>
                <mat-error *ngIf="displayMessage?.officeAddress" class="m--font-danger">
                    {{displayMessage?.officeAddress}}
                </mat-error>
            </mat-form-field>
        </div>

        <div class="col-md-12">
            <mat-form-field appearance="outline">
                <mat-label>कैफियत</mat-label>
                <textarea matInput formControlName="remarks" placeholder="कैफियत"></textarea>
            </mat-form-field>
        </div>

        <div class="col-md-12 mb-2">
            <div class="dropzone dropzone-default dropzone-brand dz-clickable" (click)="fileInput.click()"
                id="kt_dropzone_2" appDragDrop (onFileDropped)="uploadFile($event)">
                <div class="dropzone-msg dz-message needsclick" *ngIf="files.length < 1">
                    <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                    <span class="dropzone-msg-desc">Upload up to 10 files</span>
                </div>
                <div *ngFor="let file of files; let i= index"
                    class="dz-preview dz-file-preview dz-processing dz-error dz-complete">
                    <div class="dz-image"><img data-dz-thumbnail=""></div>
                    <div class="dz-details">
                        <div class="dz-size"><span data-dz-size=""><strong></strong></span></div>
                        <div class="dz-filename"><span data-dz-name="">{{file}}</span></div>
                    </div>
                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                    <a class="dz-remove" href="javascript:undefined;" data-dz-remove="" (click)="deleteFile(i)">Remove
                        file</a>
                </div>
            </div>
            <input hidden type="file" #fileInput (change)="uploadFile($event.target.files)">
            <!-- <div class="files-list" *ngFor="let file of files;let i= index">
                <p> {{ file }} </p>
                <button class="delete-file" (click)="deleteAttachment(i)">
                    <i class="fa fa-trash"></i>
                </button>
            </div> -->
        </div>
    </div>

    <div class="mat-dialog-action">
        <div>
            <mat-checkbox class="mr-3" formControlName="isCorrect">सबै ठिक छ</mat-checkbox>
            <button matTooltipPosition="above" matTooltip="सुरक्षित राख्नुहोस्" type="submit"
                class="btn btn-primary mr-1 ml-1">सुरक्षित
                राख्नुहोस्</button>
            <button matTooltipPosition="above" matTooltip="खारेज गर्नुहोस्" (click)="cancel()" type="button"
                class="btn btn-danger mr-1 ml-1">खारेज गर्नुहोस्</button>
        </div>
    </div>
</form>