<mat-progress-bar style="height: 2px;" *ngIf="isLoading" mode="indeterminate" color="warn"></mat-progress-bar>
<div *ngIf="!isLoading && content?.name" class="row mx-0 px-3">
    <div class="kt-widget1 col-md-3 px-0">
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Name</h3>
                <span class="kt-widget1__desc">{{content?.name}} </span>
            </div>
        </div>

        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Category</h3>
                <span class="kt-widget1__desc">{{content?.category}} </span>
            </div>
        </div>

        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Company Type</h3>
                <span class="kt-widget1__desc">{{content?.companyType}}</span>
            </div>
        </div>
    </div>
    <div class="kt-widget1 col-md-3 px-0">
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Size</h3>
                <span class="kt-widget1__desc">{{content?.employeeSize}} </span>
            </div>
        </div>

        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Address</h3>
                <span class="kt-widget1__desc">{{content?.address}} </span>
            </div>
        </div>

        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Website</h3>
                <span class="kt-widget1__desc">
                    <a [href]="content?.url" target="_blank" class="">{{content?.url}}</a>
                </span>
            </div>
        </div>
    </div>
    <div class="kt-widget1 col-md-3 px-0">
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Contact person Name</h3>
                <span class="kt-widget1__desc">{{content?.contactPersonName}} </span>
            </div>
        </div>

        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Contact Person Designation</h3>
                <span class="kt-widget1__desc">{{content?.contactPersonDesignation}} </span>
            </div>
        </div>
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Contact Person Phone</h3>
                <span class="kt-widget1__desc">{{content?.contactPersonPhone}} </span>
            </div>
        </div>
    </div>
    <div class="kt-widget1 col-md-3 px-0">
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Contact person Email</h3>
                <span class="kt-widget1__desc">{{content?.contactPersonEmail}} </span>
            </div>
        </div>

        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Contact Person Address</h3>
                <span class="kt-widget1__desc">{{content?.contactPersonAddress}} </span>
            </div>
        </div>
        <div class="kt-widget1__item">
            <div class="kt-widget1__info">
                <h3 class="kt-widget1__title">Contact Person Description</h3>
                <span class="kt-widget1__desc">{{content?.contactPersonDescription}} </span>
            </div>
        </div>
    </div>
</div>