<div class="row" style="margin-top: -55px">
	<!-- बेरुजु रकम-->
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'बेरुजु गर्नु पर्ने रकम ::'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">रु 237,650</span>
					<span class="kt-widget25__subtitle">यो महिनको बेरुजु रकम</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								63%
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								बेरुजु
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								39%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								बेरुजु
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								54%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								बेरुजु
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- End:: बेरुजु रकम-->
	 
	<!-- फछ्यौट रकम-->
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'फछ्यौट गर्नु पर्ने रकम ::'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">रु 237,650</span>
					<span class="kt-widget25__subtitle">यो महिनको फछ्यौट गर्नु पर्ने रकम</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								63%
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								फछ्यौट
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								39%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								फछ्यौट
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								54%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								फछ्यौट
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- End:: फछ्यौट रकम-->

	<!-- असुली रकम-->
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'असुली गर्नु पर्ने रकम ::'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">रु 237,650</span>
					<span class="kt-widget25__subtitle">यो महिनको असुली गर्नु पर्ने रकम</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								63%
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								असुली
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								39%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								असुली
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								54%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								असुली
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- End:: असुली रकम-->

	<!-- नियमित रकम-->
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'नियमित गर्नु पर्ने रकम ::'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">रु 237,650</span>
					<span class="kt-widget25__subtitle">यो महिनको नियमित गर्नु पर्ने रकम</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								63%
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								नियमित
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								39%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								नियमित
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								54%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								नियमित
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- End:: नियमित रकम-->

	<!-- धरौटी रकम-->
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'धरौटी रकम ::'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">रु 237,650</span>
					<span class="kt-widget25__subtitle">यो महिनको धरौटी रकम</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								63%
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								धरौटी
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								39%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								धरौटी
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								54%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								धरौटी
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- End:: धरौटी रकम-->

	<!-- मोबिलैजेसन रकम-->
	<div class="col-md-6">
		<kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
			<kt-portlet-header [title]="'मोबिलैजेसन गर्नु पर्ने रकम ::'"></kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<div class="kt-widget25">
					<span class="kt-widget25__stats m-font-brand">रु 237,650</span>
					<span class="kt-widget25__subtitle">यो महिनको मोबिलैजेसन रकम</span>
					<div class="kt-widget25__items">
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								63%
							</span>
							<div class="progress kt-progress--sm">
								<div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								मोबिलैजेसन
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								39%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								मोबिलैजेसन
							</span>
						</div>
						<div class="kt-widget25__item">
							<span class="kt-widget25__number">
								54%
							</span>
							<div class="progress m-progress--sm">
								<div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;"
									aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							<span class="kt-widget25__desc">
								मोबिलैजेसन
							</span>
						</div>
					</div>
				</div>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<!-- End:: मोबिलैजेसन रकम-->
</div>