<div class="row top-margin">
    <div class="col-md-6">
        <kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
            <kt-portlet-header [title]="'दर्ता	<small>जम्मा दर्ता भएका पत्रहरु</small>'"></kt-portlet-header>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <div class="kt-widget25">
                    <span class="kt-widget25__stats m-font-brand">56821</span>
                    <span class="kt-widget25__subtitle">जम्मा दर्ता भएका पत्रहरु</span>
                    <div class="kt-widget25__items">
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                35091
                            </span>
                            <div class="progress kt-progress--sm">
                                <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                आज दर्ता भएका पत्रहरु <a class="kt-link" href="#"> सबै
                                    हेर्नुहोस्</a>
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                7913
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                यो महिना दर्ता भएका पत्रहरु <a class="kt-link" href="#"> सबै
                                    हेर्नुहोस्</a>
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                12091
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                यो वर्ष दर्ता भएका पत्रहरु <a class="kt-link" href="#"> सबै
                                    हेर्नुहोस्</a>
                            </span>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__body  kt-portlet__body--fit">
                <div class="row row-no-padding row-col-separator-xl">
                    <div class="col-md-6">
                        <!--begin::Total Profit-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        दर्ता भएका कार्यालयहरु
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै कार्यालयहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-brand">
                                    7875
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    78%
                                </span>
                            </div>
                        </div>
                        <!--end::Total Profit-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::New Feedbacks-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        आर्थिक वर्ष २०७६/७७ मा दर्ता भएका
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै कार्यालयहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-warning">
                                    488
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 84%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    84%
                                </span>
                            </div>
                        </div>
                        <!--end::New Feedbacks-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::Total Profit-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        जम्मा वडाहरु
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै वडाहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-brand">
                                    12
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 78%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    78%
                                </span>
                            </div>
                        </div>
                        <!--end::Total Profit-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::New Feedbacks-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        आर्थिक वर्ष २०७६/७७
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै वडाहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-warning">
                                    5
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    50%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
            <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        दर्ता भएका पत्रहरु
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline mr-1">
                        <span class="btn btn-sm btn-label-primary no-radius">{{dartaFilterOptions}}</span>
                        <button ngbDropdownToggle type="button"
                            class="btn btn-sm btn-label-primary btn-icon btn-icon-md ml-0 no-radius">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <ul class="kt-nav">
                                <li class="kt-nav__head">
                                    वडाहरु
                                    <span data-toggle="kt-tooltip" data-placement="right" title=""
                                        data-original-title="Click to learn more...">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1"
                                            class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                                <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                                                <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                                            </g>
                                        </svg> </span>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li ngbDropdownToggle (click)="dartaFilterOption('सबै वडाहरु')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                        <span class="kt-nav__link-text">सबै वडाहरु</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOption('वडा न 1')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-1"></i>
                                        <span class="kt-nav__link-text">वडा न १</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOption('वडा न 2')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-2"></i>
                                        <span class="kt-nav__link-text">वडा न 2</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOption('वडा न 3')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-3"></i>
                                        <span class="kt-nav__link-text">वडा न 3</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOption('वडा न 4')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                        <span class="kt-nav__link-text">वडा न 4</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOption('वडा न 5')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-5"></i>
                                        <span class="kt-nav__link-text">वडा न 5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline ml-1">
                        <span class="btn btn-sm btn-label-primary no-radius">{{dartaFilterOptionDays}}</span>
                        <button ngbDropdownToggle type="button"
                            class="btn btn-sm btn-label-primary btn-icon btn-icon-md ml-0 no-radius">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <ul class="kt-nav">
                                <li class="kt-nav__head">
                                    Filter Options
                                    <span data-toggle="kt-tooltip" data-placement="right" title=""
                                        data-original-title="Click to learn more...">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1"
                                            class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                                <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                                                <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                                            </g>
                                        </svg> </span>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li ngbDropdownToggle (click)="dartaFilterOptionDay('All')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                        <span class="kt-nav__link-text">All</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOptionDay('Today')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-1"></i>
                                        <span class="kt-nav__link-text">Today</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOptionDay('Yesterday')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-2"></i>
                                        <span class="kt-nav__link-text">Yesterday</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOptionDay('This week')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-3"></i>
                                        <span class="kt-nav__link-text">This week</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOptionDay('This month')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                        <span class="kt-nav__link-text">This month</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="dartaFilterOptionDay('Custom range')"
                                    class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-5"></i>
                                        <span class="kt-nav__link-text">Custom range</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <ng-template #table> -->
            <div class="table-container">
                <mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select" sticky>
                        <mat-header-cell *matHeaderCellDef class="cell-max-width">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="cell-max-width ">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-55 "> क्र.सं. .
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-55 "> {{d.sn}}
                        </mat-cell>
                    </ng-container>

                    <!-- reg no Column -->
                    <ng-container matColumnDef="regNo">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-100" mat-sort-header> दर्ता नंम्बर
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-100"> {{d.regNo}} </mat-cell>
                    </ng-container>

                    <!-- on of letter Column -->
                    <ng-container matColumnDef="noofLetter">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-120" mat-sort-header> प.सं.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-120"> {{d.noOfLetter}} </mat-cell>
                    </ng-container>

                    <!-- Subject Column -->
                    <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>बिषय </mat-header-cell>
                        <mat-cell *matCellDef="let d"> {{d.subject}} </mat-cell>
                    </ng-container>
                    <!-- Letter Type Column -->
                    <ng-container matColumnDef="letterKind">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-120" mat-sort-header> पत्रको किसिम
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-120"> {{d.letterKind}} </mat-cell>
                    </ng-container>
                    <!-- SenderOffice  Column -->
                    <ng-container matColumnDef="senderOfficeName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> पठाउने कार्यालय/ईकाई/व्यक्ति/शाखाको नाम
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d"> {{d.senderOfficeName}} </mat-cell>
                    </ng-container>
                    <!-- Branch Column -->
                    <ng-container matColumnDef="branch">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> पठाउने कार्यालय/ईकाई/व्यक्ति/शाखाको नाम
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d"> {{d.branchIds}}
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="days">
                        <mat-header-cell *matHeaderCellDef>
                            <span style="width: 40px;">
									<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="btn btn-label-info btn-sm btn-icon btn-circle ">
										<i class="flaticon-more"></i>

									  </button>
									<mat-menu #menu="matMenu" >
										<button mat-menu-item date-range-key="Today">
										  <span >Today</span>
                            </button>
                            <button mat-menu-item>
										  <span>Yesterday</span>
										</button>
                            <button mat-menu-item>
										  <span>Last 7 Days</span>
										</button>
                            <button mat-menu-item>
										  <span>Last 30 Days</span>
										</button>
                            </mat-menu>
                            </span>
                        </mat-header-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></mat-header-row>>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </mat-row>
                </mat-table>

            </div>
            <!-- </ng-template> -->
            <div class="row">
                <div class="col-md-12">
                    <mat-paginator #MatPaginator [disabled]="!(isLoadingResults || dataSource.data?.length >0 )" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 400, 500]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
            <kt-portlet-header [title]="'चलानी <small>जम्मा चलानी भएका पत्रहरु</small>'"></kt-portlet-header>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <div class="kt-widget25">
                    <span class="kt-widget25__stats m-font-brand">3569</span>
                    <span class="kt-widget25__subtitle">जम्मा चलानी भएका पत्रहरु</span>
                    <div class="kt-widget25__items">
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                984
                            </span>
                            <div class="progress kt-progress--sm">
                                <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 43%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                आज चलानी भएका पत्रहरु <a class="kt-link" href="#">सबै
                                    हेर्नुहोस्</a>
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                2189
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-success" role="progressbar" style="width: 56%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                यो महिना चलानी भएका पत्रहरु <a class="kt-link" href="#">सबै
                                    हेर्नुहोस्</a>
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                3598
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 89%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                यो वर्ष चलानी भएका पत्रहरु <a class="kt-link" href="#">सबै
                                    हेर्नुहोस्</a>
                            </span>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>
    <div class="col-md-6">
        <div class="kt-portlet">
            <div class="kt-portlet__body  kt-portlet__body--fit">
                <div class="row row-no-padding row-col-separator-xl">
                    <div class="col-md-6">
                        <!--begin::Total Profit-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        चलानी भएका कार्यालयहरु
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै कार्यालयहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-brand">
                                    8559
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 40%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    40%
                                </span>
                            </div>
                        </div>
                        <!--end::Total Profit-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::New Feedbacks-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        आर्थिक वर्ष २०७६/७७ मा चलानी भएका
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै कार्यालयहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-warning">
                                    1089
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 10%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    10%
                                </span>
                            </div>
                        </div>
                        <!--end::New Feedbacks-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::Total Profit-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        जम्मा वडाहरु
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै वडाहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-brand">
                                    12
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 1%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    1%
                                </span>
                            </div>
                        </div>
                        <!--end::Total Profit-->
                    </div>

                    <div class="col-md-6">
                        <!--begin::New Feedbacks-->
                        <div class="kt-widget24">
                            <div class="kt-widget24__details">
                                <div class="kt-widget24__info">
                                    <h4 class="kt-widget24__title">
                                        आर्थिक वर्ष २०७६/७७
                                    </h4>
                                    <span class="kt-widget24__desc">
                                        सबै वडाहरु
                                    </span>
                                </div>

                                <span class="kt-widget24__stats kt-font-warning">
                                    5
                                </span>
                            </div>

                            <div class="progress progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>

                            <div class="kt-widget24__action">
                                <span class="kt-widget24__change">
                                    Change
                                </span>
                                <span class="kt-widget24__number">
                                    50%
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
            <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        चलानी भएका पत्रहरु
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline mr-1">
                        <span class="btn btn-sm btn-label-primary no-radius">{{chalaniFilterOptions}}</span>
                        <button ngbDropdownToggle type="button"
                            class="btn btn-sm btn-label-primary btn-icon btn-icon-md ml-0 no-radius">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <ul class="kt-nav">
                                <li class="kt-nav__head">
                                    वडाहरु
                                    <span data-toggle="kt-tooltip" data-placement="right" title=""
                                        data-original-title="Click to learn more...">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1"
                                            class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                                <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                                                <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                                            </g>
                                        </svg> </span>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li ngbDropdownToggle (click)="chalanifilterOption('सबै वडाहरु')" class="kt-nav__item">
                                    <a class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                        <span class="kt-nav__link-text">सबै वडाहरु</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOption('वडा न 1')" class="kt-nav__item">
                                    <a class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-1"></i>
                                        <span class="kt-nav__link-text">वडा न 1</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOption('वडा न 2')" class="kt-nav__item">
                                    <a class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-2"></i>
                                        <span class="kt-nav__link-text">वडा न 2</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOption('वडा न 3')" class="kt-nav__item">
                                    <a class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-3"></i>
                                        <span class="kt-nav__link-text">वडा न 3</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOption('वडा न 4')" class="kt-nav__item">
                                    <a class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                        <span class="kt-nav__link-text">वडा न 4</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOption('वडा न 5')" class="kt-nav__item">
                                    <a class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-5"></i>
                                        <span class="kt-nav__link-text">वडा न 5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div ngbDropdown [placement]="'bottom-right'" class="dropdown dropdown-inline ml-1">
                        <span class="btn btn-sm btn-label-primary no-radius">{{chalanifilterOptionDays}}</span>
                        <button ngbDropdownToggle type="button"
                            class="btn btn-sm btn-label-primary btn-icon btn-icon-md ml-0 no-radius">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <div ngbDropdownMenu class="dropdown-menu">
                            <ul class="kt-nav">
                                <li class="kt-nav__head">
                                    Filter Options
                                    <span data-toggle="kt-tooltip" data-placement="right" title=""
                                        data-original-title="Click to learn more...">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
                                            viewBox="0 0 24 24" version="1.1"
                                            class="kt-svg-icon kt-svg-icon--brand kt-svg-icon--md1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24"></rect>
                                                <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                                                <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                                                <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                                            </g>
                                        </svg> </span>
                                </li>
                                <li class="kt-nav__separator"></li>
                                <li ngbDropdownToggle (click)="chalanifilterOptionDay('All')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-open-text-book"></i>
                                        <span class="kt-nav__link-text">All</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOptionDay('Today')" class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-1"></i>
                                        <span class="kt-nav__link-text">Today</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOptionDay('Yesterday')"
                                    class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-2"></i>
                                        <span class="kt-nav__link-text">Yesterday</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOptionDay('This week')"
                                    class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-3"></i>
                                        <span class="kt-nav__link-text">This week</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOptionDay('This month')"
                                    class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                        <span class="kt-nav__link-text">This month</span>
                                    </a>
                                </li>
                                <li ngbDropdownToggle (click)="chalanifilterOptionDay('Custom range')"
                                    class="kt-nav__item">
                                    <a href="Javascript:;" class="kt-nav__link">
                                        <i class="kt-nav__link-icon flaticon2-calendar-5"></i>
                                        <span class="kt-nav__link-text">Custom range</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="dropdown dropdown-inline">
                        <div ngbDropdown [placement]="'bottom-right'">
                            <span class="btn btn-sm btn-label-primary">{{chalanifilterOptionDays}}</span>
                            <button ngbDropdownToggle type="button" class="btn btn-sm btn-label-primary btn-icon btn-icon-md">
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <div ngbDropdownMenu class="dropdown-menu">

                                <ul class="kt-nav">
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('All')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-1"></i>
                                            <span class="kt-nav__link-text">All</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('Today')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-2"></i>
                                            <span class="kt-nav__link-text">Today</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('Yesterday')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-3"></i>
                                            <span class="kt-nav__link-text">Yesterday</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('Last 7 Days')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-4"></i>
                                            <span class="kt-nav__link-text">Last 7 Days</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('Last 30 Days')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-5"></i>
                                            <span class="kt-nav__link-text">Last 30 Days</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('This Month')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-6"></i>
                                            <span class="kt-nav__link-text">This Month</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('Last Month')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-7"></i>
                                            <span class="kt-nav__link-text">Last Month</span>
                                        </a>
                                    </li>
                                    <li class="kt-nav__item">
                                        <a href="javascript:;" class="kt-nav__link" (click)="chalanifilterOptionDay('Custom Range')">
                                            <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                            <span class="kt-nav__link-text">Custom Range</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="table-container">
                <mat-table [dataSource]="dataSourceOne" #Chalanisort="matSort" matSort>
                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select" sticky>
                        <mat-header-cell *matHeaderCellDef class="cell-max-width ">
                            <mat-checkbox (change)="$event ? masterToggle1() : null"
                                [checked]="selection1.hasValue() && isAllSelected1()"
                                [indeterminate]="selection1.hasValue() && !isAllSelected1()">
                            </mat-checkbox>
                        </mat-header-cell>>
                        <mat-cell *matCellDef="let row" class="cell-max-width">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection1.toggle(row) : null"
                                [checked]="selection1.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <!-- id Column -->
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-55"> क्र.सं. .
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-55"> {{d.sn}}
                        </mat-cell>
                    </ng-container>

                    <!-- chalani no Column -->
                    <ng-container matColumnDef="invoiceNo">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-120" mat-sort-header> चलानी नम्बर
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-120"> {{d.invoiceNo}} </mat-cell>
                    </ng-container>

                    <!-- on of letter Column -->
                    <ng-container matColumnDef="noofLetter">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-120" mat-sort-header> प.सं.
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-120"> {{d.noOfLetter}} </mat-cell>
                    </ng-container>

                    <!-- Subject Column -->
                    <ng-container matColumnDef="subject">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>बिषय </mat-header-cell>
                        <mat-cell *matCellDef="let d"> {{d.subject}} </mat-cell>
                    </ng-container>
                    <!-- Letter Type Column -->
                    <ng-container matColumnDef="letterKindId">
                        <mat-header-cell *matHeaderCellDef class="cell-max-width-120" mat-sort-header style="border:0px;"> पत्रको किसिम
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d" class="cell-max-width-120"> {{d.LetterKindId}} </mat-cell>
                    </ng-container>
                    <!-- SenderOffice  Column -->
                    <ng-container matColumnDef="branchIds">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            कार्यालय/ईकाई/व्यक्ति वा शाखाको नाम </mat-header-cell>
                        <mat-cell *matCellDef="let d"> {{d.branchIds}} </mat-cell>
                    </ng-container>
                    <!-- Branch Column -->
                    <ng-container matColumnDef="receivers">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> पठाउने बोधार्थ कार्यालय वा व्यक्ति
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d"> {{d.branchIds}}
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="officeAddress">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            ठेगाना
                        </mat-header-cell>
                        <mat-cell *matCellDef="let d"> {{d.branchIds}}
                        </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="days">
                        <mat-header-cell *matHeaderCellDef>
                            <span style="width: 40px;">
									<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="btn btn-label-info btn-sm btn-icon btn-circle ">
										<i class="flaticon-more"></i>

									  </button>
									<mat-menu #menu="matMenu" >
										<button mat-menu-item date-range-key="Today">
										  <span >Today</span>
                            </button>
                            <button mat-menu-item>
										  <span>Yesterday</span>
										</button>
                            <button mat-menu-item>
										  <span>Last 7 Days</span>
										</button>
                            <button mat-menu-item>
										  <span>Last 30 Days</span>
										</button>
                            </mat-menu>
                            </span>
                        </mat-header-cell>
                    </ng-container> -->

                    <mat-header-row *matHeaderRowDef="chalaniColumns; sticky: true;"></mat-header-row>>
                    <mat-row *matRowDef="let row; columns: chalaniColumns;" (click)="selection.toggle(row)">
                    </mat-row>
                </mat-table>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <mat-paginator #Chalanipaginator [disabled]="!(isLoadingResults || dataSourceOne.data?.length >0 )" [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50, 100, 200, 400, 500]" showFirstLastButtons>
                    </mat-paginator>
                </div>
            </div>

        </div>
    </div>

</div>
