<div class="m-portlet shadow-none mt-0 pt-0">
    <div class="m-portlet__body px-0 pt-0">
        <div class="kt-subheader kt-grid__item">
            <div class="kt-container kt-container--fluid">
                <div class="kt-subheader__main">
                    <h3 class="kt-subheader__title">Attendance details</h3>
                    <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                    <span class="kt-subheader__desc">List</span>
                    <!-- <butS -->
                </div>
                <div class="dropdown dropdown-inline">
                </div>
            </div>
        </div>
        <!-- <div class="row mb-4">
            <div class="col-12">
                <mat-divider></mat-divider>
            </div>
        </div> -->
        <div class="row mb-5" *ngIf="isLoading && attendanceDetails.length <= 0">
            <div class="col-md-6">
                <m-grid-placeholder></m-grid-placeholder>
            </div>
            <div class="col-md-6">
                <m-grid-placeholder></m-grid-placeholder>
            </div>
        </div>
        <div [@fadeInOutStagger]="attendanceDetails?.length" class="row"
            *ngIf="!isLoading &&  attendanceDetails?.length > 0;">
            <div class="col-md-4 mb-4" *ngFor="let t of attendanceDetails; trackBy:trackById">
                <mat-card class="mat-elevation-z1 mat-elevation-z7-custom" style="background-color: #fff;">
                    <mat-card-content class="mb-0 card-content-text">
                        <div class="kt-infobox__header">
                            <span style="font-size: 20px; font-weight: 400;" class="kt-infobox__title">Attendance
                                Info</span>
                        </div>
                        <div class="kt-separator kt-separator--space-sm kt-separator--border mt-2 mb-3"></div>

                        <div class="row">
                            <div class="col-md-5 kt-font-info">Employee Code</div>
                            <div class="col-md-7">{{t?.empCode}}</div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm kt-separator--border-dashed "></div>

                        <div class="row">
                            <div class="col-md-5 kt-font-info">Attendance Code</div>
                            <div class="col-md-7">{{t?.attendanceCode}}</div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>

                        <div class="row">
                            <div class="col-md-5 kt-font-info">Attendance device group</div>
                            <div class="col-md-7">{{t?.attendanceDeviceGroup}}</div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm kt-separator--border-dashed"></div>

                        <div class="row">
                            <div class="col-md-5 kt-font-info">Attendance enroll id</div>
                            <div class="col-md-7">{{t?.attendanceId}}</div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>

                        <div class="row">
                            <div class="col-md-5 kt-font-info">Attendance card no</div>
                            <div class="col-md-7">{{t?.attendanceCardNo}}</div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm kt-separator--border-dashed"></div>

                        <div class="row">
                            <div class="col-md-5 kt-font-info">Status</div>
                            <div class="col-md-7">{{t?.status}}</div>
                        </div>
                        <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>

                    </mat-card-content>
                    <mat-card-actions>
                        <div class="row">
                            <div class="col" style="min-height: 40px;">
                                <div style="display: flex; justify-content: center">
                                    <button (click)="onAction(t.id)" type="button"
                                        class="btn btn-label-info btn-icon btn-circle mx-1" matTooltip="Edit"
                                        matTooltipPosition="above"> <i class="flaticon-edit mr-1"></i></button>
                                    <button (click)="delete(t.id)" type="button"
                                        class="btn btn-label-warning btn-icon btn-circle mx-1" matTooltip="Delete"
                                        matTooltipPosition="above"> <i class="flaticon-delete  mr-1"></i></button>
                                </div>
                            </div>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <div *ngIf="!isLoading && attendanceDetails?.length <= 0">
        <div class="text-center">
            <i class="la la-globe fa-8x m--font-metal"></i>
            <br>
            There are no datas. 
            <!-- <a href="javascript:;" (click)="onAction(0)" class="m-link m-link--warning">
                Add now </a> -->
        </div>
    </div>
</div>