<div class="kt-subheader kt-grid__item">
    <div class="kt-container kt-container--fluid">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Attendance Request</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Attendance Request List</span>
            <button (click)="onAction(0)" type="button" class="btn btn-label-primary btn-bold btn-icon-h">
                Add
            </button>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon2-file"></i>
                </a>

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon-download-1"></i>
                </a>

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon2-fax"></i>
                </a>

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon2-settings"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="kt-portlet bg-transparent position-relative mb-0 shadow-none">
    <div class="loading-shade mt-5" *ngIf="isLoading">
        <mat-spinner strokeWidth="3" diameter="60"></mat-spinner>
    </div>
    <div *ngIf="!isLoading && attendanceRequest?.length <= 0">
        <div class="text-center">
            No any information Found
        </div>
    </div>
    <div [@fadeInOutStagger]="attendanceRequest?.length" class="row" *ngIf="!isLoading &&  attendanceRequest?.length > 0;">
        <div class="col-md-4 sm-3 mb-3 " *ngFor="let a of attendanceRequest; trackBy:trackById">
            <mat-card class="mat-elevation-z1 mat-elevation-z7-custom">
                <mat-card-content class="mb-0 card-content-text">
                    <div class="kt-infobox__header">
                        <span style="font-size: 20px; font-weight: 400;" class="kt-infobox__title">Attendance
                            Request</span>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border mt-2 mb-3"></div>

                    <div class="row">
                        <div class="col-md-5 kt-font-info">Employee Code</div>
                        <div class="col-md-7">{{a?.empCode}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border-dashed "></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Attendance Date</div>
                        <div class="col-md-7">{{a?.attendanceDate}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border-dashed "></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Attendance Date Nepali</div>
                        <div class="col-md-7">{{a?.attendanceDateNepali}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>

                    <div class="row">
                        <div class="col-md-5 kt-font-info">Log Time </div>
                        <div class="col-md-7">{{a?.logTime}} </div>
                    </div>

                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info"> Attendance Code </div>
                        <div class="col-md-7">{{a?.attendanceCode}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info"> Direction</div>
                        <div class="col-md-7">{{a?.direction}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Remarks</div>
                        <div class="col-md-7">{{a?.remarks}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Approval Status</div>
                        <div class="col-md-7">{{a?.approvalStatus}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Entry Date</div>
                        <div class="col-md-7">{{a?.entryDate}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Entry By</div>
                        <div class="col-md-7">{{a?.entryBy}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Action By</div>
                        <div class="col-md-7">{{a?.actionBy}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Action Date</div>
                        <div class="col-md-7">{{a?.actionDate}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Local Ip </div>
                        <div class="col-md-7">{{a?.localIp}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Public Ip</div>
                        <div class="col-md-7">{{a?.publicIp}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Action Remarks</div>
                        <div class="col-md-7">{{a?.actionRemarks}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Out Place</div>
                        <div class="col-md-7">{{a?.outPlace}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Planned Return Time</div>
                        <div class="col-md-7">{{a?.plannedReturnTime}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Request Source</div>
                        <div class="col-md-7">{{a?.requestSource}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Location</div>
                        <div class="col-md-7">{{a?.location}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Map Location</div>
                        <div class="col-md-7">{{a?.mapLocation}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">Map Location Name</div>
                        <div class="col-md-7">{{a?.mapLocationName}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                    <div class="row">
                        <div class="col-md-5 kt-font-info">IMEI Number</div>
                        <div class="col-md-7">{{a?.imeiNumber}}</div>
                    </div>
                    <div class="kt-separator kt-separator--space-sm kt-separator--border"></div>
                </mat-card-content>
                <mat-card-actions>
                    <div class="row">
                        <div class="col" style="min-height: 40px;">
                            <div style="display: flex; justify-content: center">
                                <button (click)="onAction(a.id)" type="button" class="btn btn-label-info btn-icon btn-circle mx-1" matTooltip="Edit" matTooltipPosition="above">
                                    <i class="flaticon-edit mr-1"></i></button>
                                <button (click)="onDelete(a.id)" type="button" class="btn btn-label-danger btn-icon btn-circle mx-1" matTooltip="Delete" matTooltipPosition="above"> <i class="flaticon-delete  mr-1"></i></button>
                            </div>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
