<form cdkDrag [cdkDragRootElement]="'.cdk-overlay-pane'" [cdkDragBoundary]="'.cdk-overlay-container'"
    class="kt-portlet mb-0 pb-0 shadow-none" [formGroup]="persuadeForm" autocomplete="off">
    <div matDialogTitle class="kt-portlet__head px-0 mat-dialog-header" cdkDragHandle>
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {{data?.id >0 ? 'Update Persuade':'Add a new Persuade'}}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-group">
                <button matTooltip="Close" type="button" (click)="cancel()"
                    class="btn btn-sm btn-icon btn-clean btn-icon-md"><i class="la la-close"></i></button>
            </div>
        </div>
    </div>
    <div class="row" matDialogContent>
        <div class="col-sm-12">
            <div [@fadeIn]="responseMessage || errors?.length>0" id="res-messages">
                <div class="alert mb-0" role="alert" [ngClass]="{'alert-danger':isError, 'alert-success':!isError}"
                    *ngIf="responseMessage || errors?.length>0">
                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                    <div class="alert-text">
                        <span *ngIf="errors?.length > 0; else msgBlock">
                            <span class="row" [@fadeIn]="errors?.length">
                                <div class="col-12 mb-1 m--font-bolder"> {{ responseMessage}} </div>
                                <div class="col-6" *ngFor="let e of  errors"> {{e.message}} </div>
                            </span>
                        </span>
                        <ng-template #msgBlock> {{ responseMessage}} </ng-template>
                    </div>
                    <div class="alert-close">
                        <button type="button" class="close" (click)="clearErrors()" aria-label="Close">
                            <span aria-hidden="true"><i class="la la-close"></i></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row pt-2 pb-2 mb-4">
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label> Name</mat-label>
                        <input formControlName="name" matInput placeholder="Name">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input formControlName="userName" matInput placeholder="User name">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>Role</mat-label>
                        <mat-select disableRipple formControlName="roleId" placeholder="Role">
                            <!-- <mat-option *ngFor="let c of roles$ | async" [value]="c.key">{{c.value}}</mat-option> -->
                            <mat-option *ngFor="let r of roles" [value]="r.id">{{r.value}}</mat-option>
                            <mat-option *ngIf="roles.length < 1">No content</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Address</mat-label>
                        <input formControlName="address" matInput placeholder="address">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Contact Number</mat-label>
                        <input formControlName="contactNumber" matInput placeholder="Contact number">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input formControlName="email" matInput placeholder="Email">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <div matDialogActions>
        <div class="mat-dialog-action">
            <div>
                <button (click)="saveChanges()" [disabled]="isWorking" type="submit"
                    class="btn btn-label-primary btn-icon btn-circle mx-1" matTooltip="Save Changes"
                    matTooltipPosition="above">
                    <i *ngIf="!isWorking; else working" class="la la-check"></i>
                    <ng-template #working>
                        <mat-spinner color="warn" strokeWidth="2" diameter="24"></mat-spinner>
                    </ng-template>
                </button>
                <button (click)="cancel()" type="button" class="btn btn-label-warning btn-icon btn-circle mx-1"
                    matTooltip="Cancel" matTooltipPosition="above"> <i class="la la-close"></i></button>
            </div>
        </div>
    </div>
</form>