<div class="row" style="margin-top: -55px">

    <div class="col-md-6">
        <kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
            <kt-portlet-header [title]="'  ATTENDANCE DETAILS ::'"></kt-portlet-header>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <div class="kt-widget25">
                    <span class="kt-widget25__stats m-font-brand">237</span>
                    <span class="kt-widget25__subtitle">Total Employee</span>
                    <div class="kt-widget25__items">
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                63%
                            </span>
                            <div class="progress kt-progress--sm">
                                <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                All Employee Type
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                39%
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Full Timer
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                54%
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                Part Timer
                            </span>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

    <div class="col-md-6">
        <kt-portlet class=" kt-portlet--space kt-portlet--height-fluid">
            <kt-portlet-header [title]="'EMPLOYEE Activity ::'"></kt-portlet-header>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <div class="kt-widget25">
                    <span class="kt-widget25__stats m-font-brand"> 237,650</span>
                    <span class="kt-widget25__subtitle">To BE ACTIVE</span>
                    <div class="kt-widget25__items">
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                63%
                            </span>
                            <div class="progress kt-progress--sm">
                                <div class="progress-bar kt-bg-danger" role="progressbar" style="width: 63%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                IN HOLIDAY
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                39%
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-success" role="progressbar" style="width: 39%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                TO BE PRESENT
                            </span>
                        </div>
                        <div class="kt-widget25__item">
                            <span class="kt-widget25__number">
                                54%
                            </span>
                            <div class="progress m-progress--sm">
                                <div class="progress-bar kt-bg-warning" role="progressbar" style="width: 54%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <span class="kt-widget25__desc">
                                TO BE LEAVE
                            </span>
                        </div>
                    </div>
                </div>
            </kt-portlet-body>
        </kt-portlet>
    </div>

</div>