<div class="kt-subheader kt-grid__item">
    <div class="kt-container kt-container--fluid">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">BRANCH</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">Branch Lists</span>
            <button (click)="onAction(0)" type="button" class="btn btn-label-primary btn-bold btn-icon-h">
                Add
            </button>

            <!-- <div class="btn btn btn-label-warning header-content">
                <mat-select [disabled]="!isLoadingResults && branches.length <=0" (selectionChange)="sortSelectionChange($event)" [value]="'asc'" [placeholder]="'Sort Order'">
                    <mat-option value="asc">Ascending</mat-option>
                    <mat-option value="desc">Descending</mat-option>
                </mat-select>
            </div> -->
            <!-- <div class="btn btn btn-label-info">
                <span class="mr-2">Filter</span>
                <header-dropdown-filter [displayKeyword]="false" (filterSubmitted)="filter($event, 'name')" [hasMenuBackdrop]="true" [headerLabel]="''">
                </header-dropdown-filter>
            </div>
            <button *ngIf="hasFilter || query?.filters.length >0 || query?.sort?.orderDirection" [@fadeIn]="query?.filters.length" (click)="resetFilters()" type="button" class="btn btn-label-danger btn-bold btn-icon-h">
                Clear Filters
            </button> -->


        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon2-file"></i>
                </a>

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon-download-1"></i>
                </a>

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon2-fax"></i>
                </a>

                <a href="javascript:;" class="btn kt-subheader__btn-primary btn-sm btn-icon btn-circle">
                    <i class="flaticon2-settings"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet bg-transparent position-relative mb-0 shadow-none">
    <div class="loading-shade" *ngIf="isLoadingResults">
        <mat-spinner strokeWidth="3" diameter="60"></mat-spinner>
    </div>
    <div class="table-container table-height" [perfectScrollbar]="{wheelPropagation: false}">
        <div class="row mx-0" [@collectionInOut]="branches?.length">
            <div class="col-md-12 col-sm-12 col-lg-6 mb-3 " *ngFor="let b of branches; trackBy:trackById">

                <mat-card class="mat-elevation-z1 mat-elevation-z7-custom pt-4 pb-4 h-100">
                    <mat-card-content class="mb-0 ">


                        <!--begin:: Widgets/Authors Profit-->

                        <div class="kt-portlet__head">
                            <div class="kt-portlet__head-label">
                                <h3 class="kt-portlet__head-title" style="text-align: center;">
                                    {{b.name}} Branch
                                </h3>
                            </div>
                            <mat-card-actions>
                                <div class="row">
                                    <div class="col mat-card-action">
                                        <div class="mat-card-action-button">
                                            <button (click)="onAction(b.id)" matTooltip="Edit this" matTooltipPosition="left" type="button" class="btn btn-label-info btn-icon btn-circle mx-1">
                                                <i class="flaticon-edit"></i>
                                            </button>
                                            <button matTooltip="Delete this" matTooltipPosition="right" (click)="onDelete(b.id)" type="button" class="btn btn-label-danger btn-icon btn-circle mx-1">
                                                <i class="flaticon-delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </mat-card-actions>

                        </div>
                        <div class="kt-portlet__body">
                            <div class="kt-widget4">
                                <div class="kt-widget4__item">

                                    <div class="kt-widget4__info kt-font-brand">
                                        Name

                                    </div>
                                    <span class="kt-widget4__number ">{{b.name}}</span>
                                </div>

                                <div class="kt-widget4__item">

                                    <div class="kt-widget4__info kt-font-brand">
                                        Address

                                    </div>
                                    <span class="kt-widget4__number ">{{b.address}}</span>
                                </div>

                                <div class="kt-widget4__item">

                                    <div class="kt-widget4__info kt-font-brand">
                                        Phone

                                    </div>
                                    <span class="kt-widget4__number ">{{b.email}}</span>
                                </div>

                                <div class="kt-widget4__item">

                                    <div class="kt-widget4__info kt-font-brand">
                                        District

                                    </div>
                                    <span class="kt-widget4__number ">{{b.district}}</span>
                                </div>

                                <div class="kt-widget4__item">

                                    <div class="kt-widget4__info  kt-font-brand">
                                        State

                                    </div>
                                    <span class="kt-widget4__number">{{b.state}}</span>
                                </div>
                                <div class="kt-widget4__item">

                                    <div class="kt-widget4__info kt-font-brand">
                                        Country
                                    </div>
                                    <span class="kt-widget4__number ">{{b.country}}</span>
                                </div>
                                <div class="kt-widget4__item">

                                    <div class="kt-widget4__info kt-font-brand">
                                        Mailing Address

                                    </div>
                                    <span class="kt-widget4__number ">{{b.mailingAddress}}</span>
                                </div>
                            </div>
                        </div>

                    </mat-card-content>

                </mat-card>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-12 offset-md-6">
            <mat-paginator class="bg-transparent" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="10" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>
