/* ----Beruju section form component---- */
.mat-dialog-content {
    margin: 0px !important;
    padding: 0px;
}

.mat-dialog-action {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* ----Beruju Report component---- */

.record-not-found {
    height: calc(100vh - 325px);
}

.record-not-found-text {
    font-size: 2.4rem;
}

.table-height {
    height: calc(100vh - 295px);
}

mat-row.detail-row {
    height: 0 !important;
}

.cell-max-width {
    max-width: 45px;
}

.cell-max-width-180 {
    max-width: 180px;
}

.cell-max-width-55 {
    max-width: 55px;
}

.selected {
    background: #eef0fc;
}